@font-face {
    font-family: "Kamerik 105 Cyrillic1";
    src: url("../static/fonts/Kamerik105Cyrillic-Book.ttf");
}

@font-face {
    font-family: "Montserrat1";
    src: url("../static/fonts/Montserrat-Regular.ttf");
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}


#head-content {
    margin-top: 2vh;
    height: 6vh;
    font-family: "Montserrat";
    display: flex;
    align-items: baseline;
}

#logo {
    height: 100%;
}

#by {
    font-size: 4vh;
    font-style: italic;
    height: 100%;
    vertical-align: bottom;
}

#lmhi {
    text-align: center;
    font-size: 6vh;
    margin-left: 15vw;
}

@media (min-aspect-ratio: 1/1) {
    #mainpage-container {
        margin-left: 15vw;
        height: 100vh;

    }

    #desc-container {
        height: 100vh;
    }

    .page-2-text {
        height: 10vh;
    }

    .page-2-image {
        width: 22vw;
    }
}

#mainpage-container {
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
}

#heading {
    font-family: "Kamerik 105 Cyrillic1";
    color: black;
    font-size: 10vh;
}

#app-name {
    font-weight: 500;
    font-style: italic;
}

.highlight {
    color: green;
}

.results {
    width: 20vw;
    margin-left: 10vw;
}

#mainpage-subtext {
    margin-top: 3vh;
    font-family: Proxima Nova;
    font-size: 4vh;
}

#explore-container {
    margin-top: 8vh;
    font-family: Proxima Nova;
    font-size: 6vh;
    display: flex;
    flex-direction: row;
}

#explore-button {
    text-decoration: none;
    color: grey;
}

#explore-button:hover {
    color: green;
}

#lmhi-views {
    width: 100vw;
}

#page-2-container {
    font-size: 4vh;
    font-family: "Montserrat1";
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.page-2-subcontainer {
    max-width: 25vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.page-2-image {
    margin-top: 3vh;
}

.page-2-text {
    margin-top: 2vh;
    width: 100%;
}

#desc-container {
    display: flex;
    flex-direction: row;
    font-size: 4vh;
    justify-content: space-evenly;
    font-family: "Proxima Nova";
    color: #333333;
}

.desc-subcontainer {
    width: 40%;
    margin-top: 10vh;
}

.desc-heading {
    font-size: 8vh;
    font-family: Dosis;
    font-style: italic;
    font-weight: normal;
    color: black;
}

.bottom {
    margin-top: 10vh;
}

.right {
    margin-top: 20vh;
}

@media (max-aspect-ratio: 1/1) {
    #desc-container {
        margin-top: 5vh;
        display: block;
        flex-direction: column;
        text-align: center;
        height: 95vh;
    }

    .desc-subcontainer {
        width: 100%;
        margin-top: 0;
    }

    .desc-2-subcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3vh;
    }

    .desc-heading {
        font-size: 4vh;
    }

    .desc-text {
        max-width: 90%;
    }

    #page-2-container {
        margin-top: 10vh;
        display: block;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }


    .page-2-subcontainer {
        font-size: 8vw;
        min-width: 100vw;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .page-2-image {
        height: 70vh;
    }

    .page-2-text {
        margin-top: 2vh;
        width: 100%;
        font-style: italic;
    }


    #mainpage-container {
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        text-align: center;

    }


    #explore-container {
        display: none;
        margin-top: 4vh;
        justify-content: center;
    }

    #results-container {
        display: none;
    }

    #heading {
        font-size: 6vh;
    }

    .bottom {
        margin-top: 0;
    }
}
