<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div id="head-content">
    <label id="lmhi">LMHI&nbsp;</label>
    <label id="by">by&nbsp;</label>
    <img src="../static/image/logo.png" alt="logo" id="logo">
</div>

<div id="mainpage-container">
    <div>
        <div id="heading">
            <label>Stay <span class="highlight">Mentally</span></label>
            <br>
            <label><span class="highlight">Fit</span> with</label>
            <br>
            <label id="app-name">LMHI</label>
        </div>
        <div id="mainpage-subtext">
            <label>A mood interpreter</label>
            <br>
            <label>that's always with you</label>
        </div>
        <div id="explore-container">
            <a id="explore-button" href="#explore">
                Explore
            </a>
        </div>
    </div>
    <div>
        <div id="results-container">
            <img src="../static/image/test.png" class="results" alt="results">
        </div>

    </div>
</div>

<div class="page-2" id="explore">
    <div id="page-2-container">
        <div class="page-2-subcontainer">
            <label class="page-2-text">Track your Habits</label>
            <img src="../static/image/habits.png" class="page-2-image" alt="habits">
        </div>
        <div class="page-2-subcontainer">
            <label class="page-2-text">Understand yourself better</label>
            <img src="../static/image/result.png" class="page-2-image" alt="result">
        </div>
        <div class="page-2-subcontainer">
            <label class="page-2-text">Keep a mood diary</label>
            <img src="../static/image/diary.png" class="page-2-image" alt="diary">
        </div>
    </div>

</div>

<div id="desc-container">
    <div class="desc-subcontainer">
        <div>
            <label class="desc-heading">Consistency</label>
            <p>LMHI ensures long-term effect with repetitive tests and mood tracking</p>
        </div>
        <div>
            <label class="desc-heading bottom">Color magic</label>
            <p>All we need to interpret your mood is for you pick coloured cards. Yeah, we’re
                talking color magic.</p>
        </div>
    </div>

    <div class="desc-subcontainer right">
        <div>
            <label class="desc-heading">Train your mind</label>
            <p>We offer a range of psychological exercises, such as meditation and moodboosters</p>
        </div>
        <div>
            <label class="desc-heading bottom">Creatures of habit</label>
            <p>LMHI lets you set daily goals and track their fulfillment - leading to an improved lifestyle</p>
        </div>
    </div>
</div>

</body>
</html>